Repository artefactory/track-reid: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: black
        name: Formatting (black)
        entry: black
        types: [python]
        language: system
      - id: isort
        name: Sorting imports (isort)
        entry: isort
        types: [python]
        language: system
      - id: ruff
        name: Linting (ruff)
        entry: ruff
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["--recursive", "lib/"]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

fix: ci
  .github/workflows/ci.yaml
  README.md
  requirements.txt
Due: none

add requirements
  .github/workflows/ci.yaml
  Makefile
  README.md
  requirements.txt
Due: none

add requirements.in
  requirements.in
Due: none

fix lint
  requirements.txt
Due: none

fix ci
  Makefile
  requirements.in
Due: none

fix ci
  .github/workflows/ci.yaml
  requirements-developer.txt
Due: none

use make install requirements in ci
  .github/workflows/ci.yaml
Due: none

delete requirements developer & unify
  bin/install_with_conda.sh
  bin/install_with_venv.sh
  requirements-developer.txt
  requirements.in
  requirements.txt
Due: none

add matcher
  track_reid/matcher.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add reid processor
  track_reid/reid_processor.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add tracked object filter
  track_reid/tracked_object_filter.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add metadata object
  track_reid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add object filterd modif
  track_reid/tracked_object_filter.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add tracked object class
  track_reid/tracked_object.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add utils
  track_reid/utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add args & constants
  track_reid/args/reid_args.py
  track_reid/constants/reid_constants.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix drop duplicate
  track_reid/reid_processor.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add notebook
  notebooks/starter_kit_reid.ipynb
Due: nbstripout

modify pyproject
  pyproject.toml
Due: none

fix requirements, use forked version of bytetrack
  Makefile
  requirements.in
  requirements.txt
Due: none

fea: norfair demo nb
  .gitignore
  lib/bbox/utils.py
  lib/norfair_helper/utils.py
  lib/sequence.py
  notebooks/norfair_starter_kit.ipynb
  pyproject.toml
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

fix: data folder + script
  .gitignore
  bin/download_sample_sequences.sh
  data/.gitkeep
Due: none

fix: script
  bin/download_sample_sequences.sh
Due: none

fix: improve video generation
  lib/norfair_helper/video.py
  lib/sequence.py
  notebooks/norfair_starter_kit.ipynb
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

fix ci
  .github/workflows/deploy_docs.yaml
  notebooks/template.ipynb
  requirements.in
  requirements.txt
Due: nbstripout

fix: use .txt instead of pip tools
  Makefile
  requirements-dev.txt
  requirements.txt
Due: none

fix: pre-commit
  .pre-commit-config.yaml
Due: none

fea: norfair demo nb (#3)
  .gitignore
  .pre-commit-config.yaml
  Makefile
  bin/download_sample_sequences.sh
  data/.gitkeep
  lib/bbox/utils.py
  lib/norfair_helper/utils.py
  lib/norfair_helper/video.py
  lib/sequence.py
  notebooks/norfair_starter_kit.ipynb
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

fix makefile
  Makefile
Due: none

fix requirements, use forked version of bytetrack (#5)
  .github/workflows/deploy_docs.yaml
  Makefile
  notebooks/template.ipynb
  requirements.txt
Due: nbstripout

Tp/add reid lib (#4)
  notebooks/starter_kit_reid.ipynb
  pyproject.toml
  track_reid/args/reid_args.py
  track_reid/constants/reid_constants.py
  track_reid/matcher.py
  track_reid/reid_processor.py
  track_reid/tracked_object.py
  track_reid/tracked_object_filter.py
  track_reid/tracked_object_metadata.py
  track_reid/utils.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

refacto: rename package name
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  trackreid/args/reid_args.py
  trackreid/constants/reid_constants.py
  trackreid/matcher.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_filter.py
  trackreid/tracked_object_metadata.py
  trackreid/utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: poetry lock
  poetry.lock
  pyproject.toml
Due: none

refacto: adapt makefile+pyproject order+template
  Makefile
  pyproject.toml
  templates/CHANGELOG.md.j2
Due: none

fea: release workflow
  .github/workflows/release.yaml
Due: none

fix: custom token
  .github/workflows/release.yaml
Due: none

fix: poetry in CI
  .github/workflows/ci.yaml
Due: none

fix: author
  pyproject.toml
Due: none

fix :poetry core
  Makefile
  pyproject.toml
Due: none

fix: install cython
  .github/workflows/ci.yaml
Due: none
