Repository artefactory/track-reid: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

black:
  name: Formatting (black)
  entry: black
  language: system

isort:
  name: Sorting imports (isort)
  entry: isort
  language: system

ruff:
  name: Linting (ruff)
  entry: ruff
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - --recursive
  - lib/
  language: system

Tp/fix isinstance and add reset (#44)
  CHANGELOG.md
  pyproject.toml
  trackreid/__init__.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

chore(release): 0.3.0
  CHANGELOG.md
  pyproject.toml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

make possible to do from trackreid import ReidProcessor
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

direct import
  examples/trackreid/starter_kit_reid.ipynb
  tests/bin/integration_tests/test_full_correction.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

add properties to tracked objects and remove possible /0 divisionwq
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

Tp/fix possible crash (#46)
  CHANGELOG.md
  examples/trackreid/starter_kit_reid.ipynb
  pyproject.toml
  tests/bin/integration_tests/test_full_correction.py
  trackreid/__init__.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

chore(release): 0.3.1
  CHANGELOG.md
  pyproject.toml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

allow python 3.11
  Makefile
  pyproject.toml
Due: none

fix python 3.11 in makefile
  .github/workflows/ci.yaml
Due: none

feat: allow python 3.11 (#48)
  .github/workflows/ci.yaml
  CHANGELOG.md
  Makefile
  pyproject.toml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

chore(release): 0.4.0
  CHANGELOG.md
  pyproject.toml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix deploy docs python3.11
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
Due: none

test deploy doc
  .github/workflows/deploy_docs.yaml
Due: none

success: remove test
  .github/workflows/deploy_docs.yaml
Due: none

fix deploy docs python3.11 (#50)
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
Due: none

chore(release): 0.4.1
  CHANGELOG.md
  pyproject.toml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

Path conditions:
  black: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  isort: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
