Repository artefactory/track-reid: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: black
        name: Formatting (black)
        entry: black
        types: [python]
        language: system
      - id: isort
        name: Sorting imports (isort)
        entry: isort
        types: [python]
        language: system
      - id: ruff
        name: Linting (ruff)
        entry: ruff
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["--recursive", "lib/"]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

fix: require cython
  .github/workflows/ci.yaml
  pyproject.toml
Due: none

fix: GH token name
  .github/workflows/release.yaml
Due: none

fix: doc
  .github/workflows/release.yaml
Due: none

fix: install poetry pip
  .github/workflows/ci.yaml
Due: none

fix: syntax
  .github/workflows/ci.yaml
Due: none

fix: remove path
  .github/workflows/ci.yaml
Due: none

fix: add lapx as dependency
  poetry.lock
  pyproject.toml
Due: none

fix: official script
  .github/workflows/ci.yaml
Due: none

fix: remove lock
  poetry.lock
  pyproject.toml
Due: none

fix: poetry lock ignore
  .gitignore
Due: none

fix: remove tests
  .github/workflows/ci.yaml
Due: none

fix: eol
  .github/workflows/deploy_docs.yaml
  .github/workflows/release.yaml
Due: none

Fea/release semantic versionning (#7)
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
  .github/workflows/release.yaml
  .gitignore
  Makefile
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  templates/CHANGELOG.md.j2
  trackreid/args/reid_args.py
  trackreid/constants/reid_constants.py
  trackreid/matcher.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_filter.py
  trackreid/tracked_object_metadata.py
  trackreid/utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: ci rules
  .github/workflows/ci.yaml
Due: none

fix: add version
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: ci rules (#8)
  .github/workflows/ci.yaml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: version path
  pyproject.toml
Due: none

fix: version path (#9)
  pyproject.toml
Due: none

chore(release): 0.0.1
  CHANGELOG.md
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: env in pyproject
  pyproject.toml
Due: none

fix: env in pyproject (#10)
  pyproject.toml
Due: none

add pillow to requirements
  requirements.txt
Due: none

add security for new repos
  bin/download_sample_sequences.sh
Due: none

update with possible float data
  track_reid/args/reid_args.py
  track_reid/tracked_object.py
  track_reid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

make starter kit on real life data
  notebooks/starter_kit_reid.ipynb
Due: nbstripout

fix set typing issue, force to tracked objects
  track_reid/reid_processor.py
Due: black, isort, ruff, python-bandit-vulnerability-check

update requirements
  requirements.txt
Due: none

update notebook
  notebooks/starter_kit_reid.ipynb
Due: nbstripout

fix: remove useless dependencies
  pyproject.toml
Due: none

fix: remove useless dependencies (#11)
  pyproject.toml
Due: none

fix: remove useless dependencies (#11) (#12)
  pyproject.toml
Due: none

Update release.yaml
  .github/workflows/release.yaml
Due: none

chore(release): 0.0.2
  CHANGELOG.md
  pyproject.toml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fea: add embedding norfair
  lib/norfair_helper/utils.py
  lib/norfair_helper/video.py
  notebooks/norfair_starter_kit.ipynb
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

fea: add embedding norfair (#6)
  lib/norfair_helper/utils.py
  lib/norfair_helper/video.py
  notebooks/norfair_starter_kit.ipynb
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

add constants
  track_reid/constants/reid_constants.py
Due: black, isort, ruff, python-bandit-vulnerability-check

change name of constants
  track_reid/tracked_object_filter.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add nb of corrections property
  track_reid/tracked_object.py
Due: black, isort, ruff, python-bandit-vulnerability-check

change logic inside reid processor
  track_reid/reid_processor.py
Due: black, isort, ruff, python-bandit-vulnerability-check

adding utils
  track_reid/utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check
