Repository artefactory/track-reid: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: black
        name: Formatting (black)
        entry: black
        types: [python]
        language: system
      - id: isort
        name: Sorting imports (isort)
        entry: isort
        types: [python]
        language: system
      - id: ruff
        name: Linting (ruff)
        entry: ruff
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["--recursive", "lib/"]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

adding reid args
  track_reid/args/reid_args.py
Due: black, isort, ruff, python-bandit-vulnerability-check

update notebook
  notebooks/starter_kit_reid.ipynb
Due: nbstripout

modify notebook
  notebooks/starter_kit_reid.ipynb
Due: nbstripout

ignore videos
  .gitignore
Due: none

wrap repreated flows in func
  track_reid/reid_processor.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix notebook
  notebooks/starter_kit_reid.ipynb
Due: nbstripout

add fea : modulable input and output
  notebooks/starter_kit_reid.ipynb
  trackreid/args/reid_args.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_metadata.py
  trackreid/utils.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

Tp/update reid to real life date (#13)
  .github/workflows/release.yaml
  .gitignore
  CHANGELOG.md
  bin/download_sample_sequences.sh
  notebooks/starter_kit_reid.ipynb
  pyproject.toml
  trackreid/__init__.py
  trackreid/args/reid_args.py
  trackreid/constants/reid_constants.py
  trackreid/matcher.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_filter.py
  trackreid/tracked_object_metadata.py
  trackreid/utils.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

add save & load, modify copy method
  trackreid/tracked_object.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add save and load
  notebooks/starter_kit_reid.ipynb
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

fix bash script that was always blocked
  bin/download_sample_sequences.sh
Due: none

add empty frame return if error
  lib/sequence.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add unit tests
  tests/unit_tests/test_matcher.py
  tests/unit_tests/test_metadata.py
  tests/unit_tests/test_placeholder.py
  tests/unit_tests/test_tracked_objects.py
  tests/unit_tests/test_utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add tracked objects inputs for unit tests
  tests/data/unit_tests/tracked_objects/object_1.json
  tests/data/unit_tests/tracked_objects/object_24.json
  tests/data/unit_tests/tracked_objects/object_4.json
Due: none

add typing, remove candidates and switchers list, add docstring TBC
  trackreid/reid_processor.py
Due: black, isort, ruff, python-bandit-vulnerability-check

replace scipy by lapx
  trackreid/matcher.py
Due: black, isort, ruff, python-bandit-vulnerability-check

reoarganize inputs / outputs
  trackreid/args/reid_args.py
  trackreid/constants/reid_constants.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add filtering per category
  trackreid/utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

dev, add save load and take str as category
  trackreid/tracked_object.py
  trackreid/tracked_object_filter.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

remove tests/ from precommit, add to the ci
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

update flows with poetry
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
  bin/install_with_conda.sh
  bin/install_with_venv.sh
Due: none

update makefile
  Makefile
Due: none

update dependencies
  pyproject.toml
Due: none

update readme
  README.md
Due: none

updating notebook with new byetracker version
  notebooks/starter_kit_reid.ipynb
Due: nbstripout

fix ci
  .github/workflows/ci.yaml
  Makefile
Due: none

revert useless changes
  bin/download_sample_sequences.sh
  lib/sequence.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: bytetrack internal
  pyproject.toml
Due: none

fix: bytetrack internal (#15)
  pyproject.toml
Due: none

Tp/fix_issues (#14)
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
  .pre-commit-config.yaml
  Makefile
  README.md
  bin/install_with_conda.sh
  bin/install_with_venv.sh
  lib/sequence.py
  notebooks/starter_kit_reid.ipynb
  pyproject.toml
  tests/data/unit_tests/tracked_objects/object_1.json
  tests/data/unit_tests/tracked_objects/object_24.json
  tests/data/unit_tests/tracked_objects/object_4.json
  tests/unit_tests/test_matcher.py
  tests/unit_tests/test_metadata.py
  tests/unit_tests/test_placeholder.py
  tests/unit_tests/test_tracked_objects.py
  tests/unit_tests/test_utils.py
  trackreid/args/reid_args.py
  trackreid/constants/reid_constants.py
  trackreid/matcher.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_filter.py
  trackreid/tracked_object_metadata.py
  trackreid/utils.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

add .txt
  .gitignore
Due: none

fix category name
  tests/unit_tests/test_metadata.py
  tests/unit_tests/test_tracked_objects.py
  tests/unit_tests/test_utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

set save to txt
  trackreid/reid_processor.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix types
  trackreid/args/reid_args.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add utils
  trackreid/utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

remove useless prints
  tests/unit_tests/test_matcher.py
Due: black, isort, ruff, python-bandit-vulnerability-check

change object status when cut
  trackreid/reid_processor.py
Due: black, isort, ruff, python-bandit-vulnerability-check

change metadata update when cut
  trackreid/tracked_object.py
Due: black, isort, ruff, python-bandit-vulnerability-check
