Repository artefactory/track-reid: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

black:
  name: Formatting (black)
  entry: black
  language: system

isort:
  name: Sorting imports (isort)
  entry: isort
  language: system

ruff:
  name: Linting (ruff)
  entry: ruff
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - --recursive
  - lib/
  language: system

change metadata __str__ method and print str class names
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

remove bytetrack from the repo
  notebooks/norfair_starter_kit.ipynb
  pyproject.toml
Due: nbstripout

fix test
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

revert changes on norfair
  notebooks/norfair_starter_kit.ipynb
  notebooks/starter_kit_reid.ipynb
Due: nbstripout

Tp/add to txt saving (#16)
  .gitignore
  notebooks/starter_kit_reid.ipynb
  pyproject.toml
  tests/unit_tests/test_matcher.py
  tests/unit_tests/test_metadata.py
  tests/unit_tests/test_tracked_objects.py
  tests/unit_tests/test_utils.py
  trackreid/args/reid_args.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_metadata.py
  trackreid/utils.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

remove possible classes and class names
  tests/data/unit_tests/tracked_objects/object_1.json
  tests/data/unit_tests/tracked_objects/object_24.json
  tests/data/unit_tests/tracked_objects/object_4.json
  trackreid/args/reid_args.py
  trackreid/tracked_object_metadata.py
  trackreid/utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

remove args and constants, rename in config, convert to pydantic models
  notebooks/starter_kit_reid.ipynb
  tests/unit_tests/test_utils.py
  trackreid/args/reid_args.py
  trackreid/constants/reid_constants.py
  trackreid/matcher.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_filter.py
  trackreid/tracked_object_metadata.py
  trackreid/utils.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

add pydantic models
  trackreid/configs/input_data_positions.py
  trackreid/configs/output_data_positions.py
  trackreid/configs/reid_constants.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix issue and add static doc method for inputs / outputs
  notebooks/starter_kit_reid.ipynb
  trackreid/configs/input_data_positions.py
  trackreid/reid_processor.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

add base functions
  trackreid/cost_functions/__init__.py
  trackreid/cost_functions/bounding_box_distance.py
  trackreid/selection_functions/__init__.py
  trackreid/selection_functions/select_by_category.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add docstring
  trackreid/cost_functions/bounding_box_distance.py
  trackreid/matcher.py
  trackreid/reid_processor.py
  trackreid/selection_functions/select_by_category.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add docstrings
  trackreid/tracked_object_filter.py
  trackreid/utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

Tp/improve user interface (#17)
  notebooks/starter_kit_reid.ipynb
  tests/data/unit_tests/tracked_objects/object_1.json
  tests/data/unit_tests/tracked_objects/object_24.json
  tests/data/unit_tests/tracked_objects/object_4.json
  tests/unit_tests/test_utils.py
  trackreid/args/reid_args.py
  trackreid/configs/input_data_positions.py
  trackreid/configs/output_data_positions.py
  trackreid/configs/reid_constants.py
  trackreid/cost_functions/__init__.py
  trackreid/cost_functions/bounding_box_distance.py
  trackreid/matcher.py
  trackreid/reid_processor.py
  trackreid/selection_functions/__init__.py
  trackreid/selection_functions/select_by_category.py
  trackreid/tracked_object.py
  trackreid/tracked_object_filter.py
  trackreid/tracked_object_metadata.py
  trackreid/utils.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

Add docstring
  trackreid/configs/reid_constants.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add missing typings and add format in reidprocessor docstring
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_filter.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

Add docstring (#18)
  trackreid/configs/reid_constants.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_filter.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

modify docstring format to match mkdocs requirements
  trackreid/matcher.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_filter.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

update mkdostring yml
  mkdocs.yaml
  mkdocs.yml
Due: none

downgrade mkdocstrings to fix circular import issue
  pyproject.toml
Due: none

update doc
  docs/code.md
  docs/custom_cost_selection.md
  docs/quickstart_dev.md
  docs/quickstart_user.md
  docs/reference/cost_functions.md
  docs/reference/matcher.md
  docs/reference/reid_processor.md
  docs/reference/selection_functions.md
  docs/reference/tracked_object.md
  docs/reference/tracked_object_filter.md
  docs/reference/tracked_object_metadata.md
Due: none

add doc on cost and selection functions
  docs/custom_cost_selection.md
  docs/index.md
  docs/reference/cost_functions.md
  docs/reference/selection_functions.md
Due: none

update readme
  README.md
Due: none

add link to quickstarter
  README.md
Due: none

update readme (#20)
  README.md
Due: none

Tp/add mkdocs (#19)
  docs/code.md
  docs/custom_cost_selection.md
  docs/index.md
  docs/quickstart_dev.md
  docs/quickstart_user.md
  docs/reference/cost_functions.md
  docs/reference/matcher.md
  docs/reference/reid_processor.md
  docs/reference/selection_functions.md
  docs/reference/tracked_object.md
  docs/reference/tracked_object_filter.md
  docs/reference/tracked_object_metadata.md
  mkdocs.yaml
  mkdocs.yml
  pyproject.toml
  trackreid/matcher.py
  trackreid/reid_processor.py
  trackreid/tracked_object.py
  trackreid/tracked_object_filter.py
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix deployment
  .github/workflows/deploy_docs.yaml
Due: none

fix deployment (#22)
  .github/workflows/deploy_docs.yaml
Due: none

fix notebook
  notebooks/starter_kit_reid.ipynb
Due: nbstripout

Tp/fix notebook (#23)
  notebooks/starter_kit_reid.ipynb
Due: nbstripout

Fix/commit history (#24)
  notebooks/starter_kit_reid.ipynb
Due: nbstripout

chore(release): 0.0.3
  CHANGELOG.md
  pyproject.toml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add tracker output to integration_test data
  tests/data/integration_tests/tracker_output.txt
Due: none

reorganize tests folder
  tests/data/.gitkeep
  tests/data/integration_tests/tracker_output.txt
  tests/data/unit_tests/tracked_objects/object_1.json
  tests/data/unit_tests/tracked_objects/object_24.json
  tests/data/unit_tests/tracked_objects/object_4.json
  tests/integration_tests/.gitkeep
  tests/unit_tests/.gitkeep
  tests/unit_tests/test_matcher.py
  tests/unit_tests/test_metadata.py
  tests/unit_tests/test_tracked_objects.py
  tests/unit_tests/test_utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

Add integration test
  tests/assets/integration_tests/data/.gitkeep
  tests/assets/integration_tests/expected_outputs/.gitkeep
  tests/assets/unit_tests/data/tracked_objects/.gitkeep
  tests/assets/unit_tests/data/tracked_objects/object_1.json
  tests/assets/unit_tests/data/tracked_objects/object_24.json
  tests/assets/unit_tests/data/tracked_objects/object_4.json
  tests/assets/unit_tests/expected_outputs /.gitkeep
  tests/bin/integration_tests/.gitkeep
  tests/bin/integration_tests/test_full_correction.py
  tests/bin/unit_tests/.gitkeep
  tests/bin/unit_tests/test_matcher.py
  tests/bin/unit_tests/test_metadata.py
  tests/bin/unit_tests/test_tracked_objects.py
  tests/bin/unit_tests/test_utils.py
  tests/utils/file_utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fea: create example forlder
  .gitignore
  examples/norfair/README.md
  examples/norfair/norfair_starter_kit.ipynb
  examples/norfair/requirements.txt
  examples/trackreid/requirements.txt
  examples/trackreid/starter_kit_reid.ipynb
Due: nbstripout

fix: less prod dependencies
  pyproject.toml
Due: none

fix: lapx
  pyproject.toml
Due: none

add test on tracked objects
  tests/assets/integration_tests/expected_outputs/tracked_object_0.json
  tests/assets/integration_tests/expected_outputs/tracked_object_1.json
  tests/assets/integration_tests/expected_outputs/tracked_object_2.json
  tests/assets/integration_tests/expected_outputs/tracked_object_3.json
  tests/assets/integration_tests/expected_outputs/tracked_object_4.json
  tests/bin/integration_tests/test_full_correction.py
  trackreid/tracked_object.py
Due: black, isort, ruff, python-bandit-vulnerability-check

uniformize namings
  tests/assets/integration_tests/expected_outputs/tracked_object_0.json
  tests/assets/integration_tests/expected_outputs/tracked_object_1.json
  tests/assets/integration_tests/expected_outputs/tracked_object_2.json
  tests/assets/integration_tests/expected_outputs/tracked_object_3.json
  tests/assets/integration_tests/expected_outputs/tracked_object_4.json
  tests/assets/integration_tests/expected_outputs/tracked_object_5.json
  tests/assets/unit_tests/data/tracked_objects/tracked_object_1.json
  tests/assets/unit_tests/data/tracked_objects/tracked_object_24.json
  tests/assets/unit_tests/data/tracked_objects/tracked_object_4.json
  tests/bin/integration_tests/test_full_correction.py
  tests/bin/unit_tests/test_matcher.py
  tests/bin/unit_tests/test_metadata.py
  tests/bin/unit_tests/test_tracked_objects.py
  tests/bin/unit_tests/test_utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

Path conditions:
  black: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  isort: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
