Repository artefactory/track-reid: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: black
        name: Formatting (black)
        entry: black
        types: [python]
        language: system
      - id: isort
        name: Sorting imports (isort)
        entry: isort
        types: [python]
        language: system
      - id: ruff
        name: Linting (ruff)
        entry: ruff
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["--recursive", "lib/"]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

add missing ignored file
  tests/assets/integration_tests/data/tracker_output.txt
Due: none

add missing file
  tests/assets/integration_tests/expected_outputs/corrected_tracks.txt
Due: none

Tp/add integration test (#28)
  tests/assets/integration_tests/data/.gitkeep
  tests/assets/integration_tests/data/tracker_output.txt
  tests/assets/integration_tests/expected_outputs/.gitkeep
  tests/assets/integration_tests/expected_outputs/corrected_tracks.txt
  tests/assets/integration_tests/expected_outputs/tracked_object_1.json
  tests/assets/integration_tests/expected_outputs/tracked_object_2.json
  tests/assets/integration_tests/expected_outputs/tracked_object_3.json
  tests/assets/integration_tests/expected_outputs/tracked_object_4.json
  tests/assets/integration_tests/expected_outputs/tracked_object_5.json
  tests/assets/unit_tests/data/tracked_objects/.gitkeep
  tests/assets/unit_tests/data/tracked_objects/tracked_object_1.json
  tests/assets/unit_tests/data/tracked_objects/tracked_object_24.json
  tests/assets/unit_tests/data/tracked_objects/tracked_object_4.json
  tests/assets/unit_tests/expected_outputs /.gitkeep
  tests/bin/integration_tests/.gitkeep
  tests/bin/integration_tests/test_full_correction.py
  tests/bin/unit_tests/.gitkeep
  tests/bin/unit_tests/test_matcher.py
  tests/bin/unit_tests/test_metadata.py
  tests/bin/unit_tests/test_tracked_objects.py
  tests/bin/unit_tests/test_utils.py
  tests/utils/file_utils.py
  trackreid/tracked_object.py
Due: black, isort, ruff, python-bandit-vulnerability-check

wip trackreid demo
  .gitignore
  examples/trackreid/requirements.txt
  examples/trackreid/starter_kit_reid.ipynb
  examples/trackreid/utils.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

fix: black
  examples/trackreid/requirements.txt
  examples/trackreid/utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

chore(release): 0.0.4
  CHANGELOG.md
  pyproject.toml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add local hyperlinks
  docs/custom_cost_selection.md
  docs/quickstart_user.md
Due: none

change private methods names
  trackreid/reid_processor.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add local hyperlinks in docs (#30)
  docs/custom_cost_selection.md
  docs/quickstart_user.md
Due: none

fix: don't convert to int
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: tests
  tests/assets/integration_tests/expected_outputs/corrected_tracks.txt
  tests/assets/integration_tests/expected_outputs/tracked_object_1.json
  tests/assets/integration_tests/expected_outputs/tracked_object_2.json
  tests/assets/integration_tests/expected_outputs/tracked_object_3.json
  tests/assets/integration_tests/expected_outputs/tracked_object_4.json
Due: none

fix: don't convert to int
  tests/assets/integration_tests/expected_outputs/tracked_object_5.json
Due: none

fix: working notebook
  examples/trackreid/frames/.gitkeep
  examples/trackreid/starter_kit_reid.ipynb
  examples/trackreid/utils.py
  examples/trackreid/videos/.gitkeep
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

chore(release): 0.0.5
  CHANGELOG.md
  pyproject.toml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: working demo notebook
  examples/trackreid/requirements.txt
  examples/trackreid/starter_kit_reid.ipynb
  trackreid/tracked_object_metadata.py
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

fix: migrate to example folder
  bin/download_sample_sequences.sh
  examples/norfair/lib/.gitkeep
  examples/norfair/lib/bbox/utils.py
  examples/norfair/lib/norfair_helper/utils.py
  examples/norfair/lib/norfair_helper/video.py
  examples/norfair/lib/sequence.py
  examples/norfair/norfair_starter_kit.ipynb
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

fix: fix: add gif / video from gcs
  README.md
  examples/trackreid/data/.gitkeep
  examples/trackreid/starter_kit_reid.ipynb
Due: nbstripout

update gitignore
  .gitignore
Due: none

add gifs and description in home page of mkdocs
  docs/index.md
Due: none

change model version and print number of corrections
  examples/trackreid/starter_kit_reid.ipynb
Due: nbstripout

fea: create example forlder (#27)
  .gitignore
  README.md
  bin/download_sample_sequences.sh
  docs/index.md
  examples/norfair/README.md
  examples/norfair/lib/.gitkeep
  examples/norfair/lib/bbox/utils.py
  examples/norfair/lib/norfair_helper/utils.py
  examples/norfair/lib/norfair_helper/video.py
  examples/norfair/lib/sequence.py
  examples/norfair/norfair_starter_kit.ipynb
  examples/norfair/requirements.txt
  examples/trackreid/data/.gitkeep
  examples/trackreid/frames/.gitkeep
  examples/trackreid/requirements.txt
  examples/trackreid/starter_kit_reid.ipynb
  examples/trackreid/utils.py
  examples/trackreid/videos/.gitkeep
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

feat: realease 0.1.0
  pyproject.toml
Due: none

feat: realease 0.1.0 (#35)
  pyproject.toml
Due: none

chore(release): 0.1.0
  CHANGELOG.md
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: readme
  README.md
Due: none

fix: readme (#37)
  README.md
Due: none

chore(release): 0.1.1
  CHANGELOG.md
  pyproject.toml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix: remoce legacy folder / structure
  .gitignore
  config/config.py
  config/config.toml
  data/.gitkeep
  examples/trackreid/starter_kit_reid.ipynb
  notebooks/norfair_starter_kit.ipynb
  notebooks/private/.gitignore
  notebooks/starter_kit_reid.ipynb
  pyproject.toml
  secrets/.gitkeep
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

fix: coreml
  examples/trackreid/starter_kit_reid.ipynb
Due: nbstripout

doc: contributing markdown
  CONTRIBUTING.md
  Makefile
  README.md
Due: none

fix: doc in mkdocs to match main readme
  docs/quickstart_user.md
Due: none

doc: better readme + contributing.md (#40)
  CONTRIBUTING.md
  Makefile
  README.md
  docs/quickstart_user.md
Due: none

fix: remoce legacy folder / structure (#39)
  .gitignore
  config/config.py
  config/config.toml
  data/.gitkeep
  notebooks/norfair_starter_kit.ipynb
  notebooks/private/.gitignore
  notebooks/starter_kit_reid.ipynb
  pyproject.toml
  secrets/.gitkeep
Due: black, isort, ruff, nbstripout, python-bandit-vulnerability-check

doc: speed in readme
  README.md
Due: none

fix: end center
  README.md
Due: none

doc: speed in readme (#42)
  README.md
Due: none

chore(release): 0.2.0
  CHANGELOG.md
  pyproject.toml
  trackreid/__init__.py
Due: black, isort, ruff, python-bandit-vulnerability-check

fix isinstance bug with python3.9
  trackreid/tracked_object.py
  trackreid/utils.py
Due: black, isort, ruff, python-bandit-vulnerability-check

add reset method
  trackreid/reid_processor.py
Due: black, isort, ruff, python-bandit-vulnerability-check
